.blogs {
    margin-bottom: 96px;
    gap: 52px;

    &__list {
        flex-direction: column;
    }

    &__item {
        flex-direction: column;
    }

    &__title {
        color: $colorTitle;
        font-family: $fontTitle;
        font-size: 50px;
        line-height: 125%; /* 62.5px */
        letter-spacing: 1px;
        margin-bottom: 21px;
    }

    &__img {
        margin-bottom: 46px;
    }

    &__set {
        justify-content: space-between;
        margin-bottom: 48px;
    }

    &__date {
        color: #4d5053;
        line-height: 150%; /* 24px */
        letter-spacing: 0.16px;
        text-transform: capitalize;
    }

    &__link {
        color: #4d5053;
        line-height: 150%; /* 24px */
        text-transform: capitalize;
    }

    &__text {
        color: #4d5053;
        font-size: 22px;
        font-style: normal;
        line-height: 150%; /* 33px */
        letter-spacing: 0.22px;
        margin-bottom: 35px;
    }

    &__quetes {
    }

    &__tags {

        min-width: 345px;
    }
    &__tags-title {
        color: #292f36;
        font-family: $fontTitle;
        font-weight: bold;
        font-size: 25px;
        line-height: 125%; /* 31.25px */
        letter-spacing: 0.5px;
        margin-bottom: 20px;
    }

    &__tags-list {
        text-align: center;
        font-size: 18px;
        line-height: 125%; /* 22.5px */
        letter-spacing: 0.36px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    &__tags-link {


        padding: 9px 30px;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background: #f4f0ec;
        border: 1px solid #f4f0ec;
        transition: all .3s ease;
        cursor: pointer;
        &:hover {
            background: #000;
            color: #fff;
        }
    }
}
.flex {
}
